<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<div class="container">

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Inventory</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav">
          <li><a (click)="designation()">Home<span
            class="sr-only">(current)</span></a></li>
          <li class="active"><a routerLink="/manager_view_invoice" routerLinkActive="active">Invoices <span
            class="sr-only">(current)</span></a></li>
        </ul>
        <router-outlet></router-outlet>

        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/" routerLinkActive="active"
                 (click)="Logout()">Logout</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a>{{username}}</a></li>
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>

<div class="container">


  <div class="container">

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Invoices</div>
      <div class="panel-body">

        <table class="table">
          <thead>
          <tr>
            <th>invoice_id</th>
            <th>Invoice_date</th>
            <th>totalprice</th>
            <th>total_item</th>
            <th>branch_id</th>
            <th>Delete</th>
          </tr>
          <tr *ngFor="let i of invoice">
            <td>
              <button class="btn btn-sm btn-success" (click)="getInvoiceId(i)">{{i.invoice_id}} View Invoice</button>
            </td>
            <td>{{i.invoice_date}}</td>
            <td>{{i.total_price}}</td>
            <td>{{i.total_item}}</td>
            <td>{{i.branch_id}}</td>
            <td>
              <button class="btn btn-danger" (click)="deleteInvoice(i)"><span
                class="glyphicon glyphicon-trash"></span>Delete
              </button>
            </td>
          </tr>
          </thead>
        </table>

      </div>
    </div>
  </div>
</div>

