<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<div class="container">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Inventory</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li class="active"><a (click)="designation()">Home<span class="sr-only">(current)</span></a></li>
                    <li class="#"><a routerLink="/super_view_order" routerLinkActive="active">Stock Order<span
                            class="sr-only">(current)</span></a></li>
                </ul>
                <router-outlet></router-outlet>

                <ul class="nav navbar-nav navbar-right">
                    <li><a routerLink="/" routerLinkActive="active" (click)="Logout()">Logout</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a>{{username}}</a></li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

<div class=" container panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">StockOrder</div>
    <div class="panel-body">

        <table class="table">
            <thead>
            <tr>
                <th>Product_id</th>
                <th>Product_name</th>
                <th>Product_unit_price</th>
                <th>Product_quantity</th>
                <th>Product_total_price</th>
            </tr>
            <tr *ngFor="let o of order">
                <td>{{o.product_id}}</td>
                <td>{{o.product_name}}</td>
                <td>{{o.product_unit_price}}</td>
                <td>{{o.product_quantity}}</td>
                <td>{{o.product_total_price}}</td>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Total_Quantity = {{stock_items}}</th>
                <th>Total_Price = {{stock_price}}</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
