<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<div class="container">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Inventory</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li class="active"><a (click)="designation()">Home<span
                            class="sr-only">(current)</span></a></li>
                    <li class="#"><a routerLink="/super_view_order" routerLinkActive="active">Stock Order<span
                            class="sr-only">(current)</span></a></li>
                </ul>
                <router-outlet></router-outlet>

                <ul class="nav navbar-nav navbar-right">
                    <li><a routerLink="/" routerLinkActive="active" (click)="Logout()">Logout</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a>{{username}}</a></li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="color: white ; font-size: smaller">
            <input type="text" #branch_id class="form-control" placeholder="branch_id"/><br/>
            <input type="text" #order_id class="form-control" placeholder="Order_id"/><br/>
            Date = {{date}}
        </div>
        <div class="col-sm-4"></div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <table align="center" width="100%" cellpadding="0" cellspacing="0" border="0">

                <tr>
                    <td><input type="text" #product_id class="form-control" placeholder="Product_id"/></td>&nbsp;
                    <td><input type="number" #product_qty class="form-control" placeholder="Product_qty"/></td>&nbsp;
                    <button type="submit" (click)="add(branch_id.value,product_id.value, product_qty.value)" class="btn btn-success">
                        Add
                    </button>
                </tr>

            </table>

        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
<br/>
<style>
    .gap {
        margin-left: 30%;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading" style="color: blue">OrderStock<span style="margin-left: 20%">Total_Price = {{message}}</span>
                    <button class="gap btn btn-primary" routerLink="/super_view_order" routerLinkActive="active"
                            (click)="addtostock(branch_id.value,order_id.value)">
                        AddToStock
                    </button>
                </div>
                <div class="panel-body">

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Product_id</th>
                            <th>Product_name</th>
                            <th>Product_quantity</th>
                            <th>Product_unitprice</th>
                            <th>product_totalprice</th>
                        </tr>
                        <tr *ngFor="let s of stockarray">
                            <td>{{s.product_id}}</td>
                            <td>{{s.product_name}}</td>
                            <td>{{s.product_qty}}</td>
                            <td>{{s.product_unitprice}}</td>
                            <td>{{s.product_totalprice}}</td>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
