<div class="container">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Inventory</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li class="active"><a (click)="designation()">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="#"><a routerLink="/allbranches" routerLinkActive="active">Branches <span
                            class="sr-only">(current)</span></a></li>
                    <li class="#"><a routerLink="/allcompanies" routerLinkActive="active">Compnaies<span
                            class="sr-only">(current)</span></a></li>
                    <li class="#"><a routerLink="/superinvoicedetail" routerLinkActive="active">Invoices <span
                            class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <router-outlet></router-outlet>

                <ul class="nav navbar-nav navbar-right">
                    <li><a routerLink="/" routerLinkActive="active" (click)="Logout()">Logout</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a >Username</a></li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="row userdetail box">

        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h3>Name = Owais Uddin Gilani</h3>
            <h3>Designation = Employee</h3>
            <h3>Sales = 1,25000</h3>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></button>
        </div>
    </div>
</div>
