<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<div class="container">

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Inventory</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav">
          <li class="active"><a (click)="designation()">Home<span class="sr-only">(current)</span></a></li>
          <li class="#"><a routerLink="/super_view_accounts" routerLinkActive="active">Accounts <span
            class="sr-only">(current)</span></a></li>
        </ul>
        <router-outlet></router-outlet>

        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/" routerLinkActive="active" (click)="Logout()">Logout</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a>{{username}}</a></li>
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>

<div class="container">
  <!-- Default panel contents -->
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">

      <fieldset>
        <legend style="color: white">Add Cash</legend>
        <br/>
        <div style="color: white">Account_id : {{account.account_id}}<span> &nbsp;&nbsp;&nbsp; currentBalance : {{account.cash}}</span>
        </div>
        <br/>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3"></span>
          <input type="text" #Accountcash class="form-control" placeholder="Cash Amount"
                 aria-describedby="basic-addon3">
        </div>
        <br/>

        <button type="submit" routerLink="/super_view_accounts" routerLinkActive="active"
                (click)="editAccount(Accountcash.value)"
                class="btn btn-primary">Submit
        </button>
        <div style="color: white">{{message}}</div>
      </fieldset>

      <br/><br/>

      <!--<fieldset>-->
        <!--<legend style="color: white">Withdraw Cash</legend>-->
        <!--<br/>-->
        <!--<div style="color: white">Account_id : {{account.account_id}}<span> &nbsp;&nbsp;&nbsp; currentBalance : {{account.cash}}</span>-->
        <!--</div>-->
        <!--<br/>-->
        <!--<div class="input-group">-->
          <!--<span class="input-group-addon" id="basic-addon3"></span>-->
          <!--<input type="text" #Accountcash class="form-control" placeholder="Withdraw Amount"-->
                 <!--aria-describedby="basic-addon3">-->
        <!--</div>-->
        <!--<br/>-->

        <!--<button type="submit" routerLink="/super_view_accounts" routerLinkActive="active"-->
                <!--(click)="withdrawAccount(Accountcash.value)"-->
                <!--class="btn btn-primary">Submit-->
        <!--</button>-->
        <!--<div style="color: white">{{message}}</div>-->
      <!--</fieldset>-->


    </div>
    <div class="col-sm-4"></div>
  </div>
</div>

