<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<div class="container">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Inventory</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li class="#"><a (click)="designation()">Home<span class="sr-only">(current)</span></a></li>
                    <li class="active"><a routerLink="/allcompanies" routerLinkActive="active">Compnaies<span
                            class="sr-only">(current)</span></a></li>

                </ul>
                <router-outlet></router-outlet>
                <ul class="nav navbar-nav navbar-right">
                    <li><a>{{username}}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a routerLink="/" routerLinkActive="active" (click)="Logout()">Logout</a></li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form>
                <fieldset>
                    <legend>Company Info</legend>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"></span>
                        <input type="text" #companyid class="form-control" placeholder="companyid"
                               aria-describedby="basic-addon1">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2"></span>
                        <input type="text" #companyname class="form-control" placeholder="companyname"
                               aria-describedby="basic-addon2">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3"></span>
                        <input type="text" #companyphonenumber class="form-control" placeholder="companyphonenumber"
                               aria-describedby="basic-addon3">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon4"></span>
                        <input type="text" #companyaddress class="form-control" placeholder="companyaddress"
                               aria-describedby="basic-addon4">
                    </div>
                    <br/>

                    <button type="submit" routerLink="/allcompanies" routerLinkActive="active"
                            (click)="addcompany(companyid.value,companyname.value,companyphonenumber.value,companyaddress.value)"
                            class="btn btn-primary">Submit
                    </button>
                    {{message}}
                </fieldset>
            </form>


        </div>
        <div class="col-sm-4"></div>
    </div>

</div>
