<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<div class="container">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Inventory Management</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li class="active"><a (click)="designation()">Home<span class="sr-only">(current)</span></a></li>
                </ul>
                <router-outlet></router-outlet>

                <ul class=" nav navbar-nav navbar-btn ">
                    <button routerLink="/employeeinvoice" routerLinkActive="active" class="btn btn-primary">Add
                        Invoices
                    </button>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a routerLink="/" routerLinkActive="active" (click)="Logout()">Logout</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a>{{username}}</a></li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<style>
  .back {
    background-image: url("/src/app/images/1.jpg");
    background-repeat: no-repeat;
    height: 880px;
    width: 900px;
  }
</style>
<div class=" container ">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 back"><br/><br/>
      <div class="col-sm-offset-8"  style="color:black;font-size: larger;">
        <div>Username : {{user.username}}</div>
        <br/>
        <div>Firstname : {{user.first_name}}</div>
        <br/>
        <div>Lastname : {{user.last_name}}</div>
        <br/>
        <div>Designation : {{user.designation}}</div>
        <br/>
        <div>Salary : {{user.salary}}</div>
        <br/>
        <div>Sales : {{user.sales}}</div>
        <br/>
        <div>Branch_id : {{user.branch_id}}</div>
        <br/>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
